<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
    <!-- web应用名 -->
    <!-- <display-name>webAppName</display-name> -->
     
    <!-- 上下文参数,在servlet中可通过request.getServletContext().getInitParamter(key)方法获取值 -->
    <!-- <context-param>
        <param-name>key</param-name>
        <param-value>value</param-value>
    </context-param> -->
     
    <!-- 注册filter -->
    <!-- <filter>
        <filter-name></filter-name>
        <filter-class></filter-class>
    </filter>
    <filter-mapping>
        <filter-name></filter-name>
        <url-pattern></url-pattern>
    </filter-mapping> -->
     
    <!-- 注册listener -->
    <!-- <listener>
        <listener-class></listener-class>
    </listener> -->
     
    <!-- 配置servlet -->
    <!-- <servlet>
        <servlet-name></servlet-name>
        <servlet-class></servlet-class>
        <init-param></init-param>
        <load-on-startup></load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name></servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping> -->
     
    <!-- 配置session有效期，单位为分钟 -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
     
    <!-- 配置默认首页 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
     
    <!-- 指定错误处理页面 -->
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/exception.jsp</location>
    </error-page>
     
</web-app> 
